<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.live.module.login">

    <application>

        <!--  启动页  -->

        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PhoneLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoginTantaAuthCodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoginTantaSetInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />

<!--        -->
        <activity
            android:name="com.mshy.VInterestSpeed.common.ui.dialog.LoginDialog"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActBgStyle"
             />
    </application>
</manifest>