<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.live.module.info">

    <application>
        <activity
            android:name=".activity.InfoVquEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InfoVquPreviewPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InfoVquNicknameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InfoVquVoiceEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InfoVquIntroduceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InfoVquLabelEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InfoVquPersonalInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xinyu.personal.info.recharge"
                    android:scheme="xinyu" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InfoVquGiftListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InfoVquPreviewPictureAndVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InfoVquPreviewPicAndVideoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.ProtectionDetailsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>