<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.live.module.relation">

    <application>
        <activity
            android:name=".activity.RelationVquActivity"
            android:screenOrientation="portrait" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xinyu.relation.recharge"
                    android:scheme="xinyu" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RelationVquPraiseListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RelationVquFriendActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyProtectionActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>